/* CSS Document */

.hide{
	display:none;
}
.content_wrap{
	width:1110px;
	padding:20px 40px;
	background:#fff;
	margin:20px auto 0;
	box-shadow:0 5px 5px rgba(0,0,0,.1);
}
.warm_tip{
	width:1108px;
	height:48px;
	border:1px solid #fe805e;
	background:url(../images/warmtip_08.png) no-repeat #fef7f5;
	background-position:18px 9px;
	font-size:16px;
	line-height:48px;
	color:#fd5528;
	text-indent:55px;
	margin-bottom:20px;

}
.address_header{
	color:#466b7a;
	font-size:16px;
	border-bottom:1px solid #eaeaea;
	padding-bottom:10px;
}
.address{
	margin:20px;
	background-color:#fff;
}
.address li{
	height:40px;
	line-height:40px;
	text-indent:20px;
	font-size:12px;
	color:#666666;
	padding-left:5px;
}
.address li span{
	display:inline-block;
	
}
.check{
	width:14px;
	height:14px;
	border:1px solid #d9d9d9;
	border-radius:8px;
	top:12px;
	cursor:pointer;
	left:15px;
}
.address_r{
	margin-right:20px;
	font-size:12px;
	color:#0099ff;
	cursor:pointer;
}
.address .checked{
	background:url(../../src/images/greenpoint_08.png) no-repeat;
	background-position:1px 1px;
}
.check_bg{
	background-color:#f8f8f8;
}
.add_btn{
	width:120px;
	height:36px;
	border:1px solid #cccccc;
	font-size:14px;
	color:#666666;
	line-height:36px;
	border-radius:5px;
	background:url(../../src/images/addbtn_08.png) no-repeat #f2f2f2;
	background-position:10px 11px;
	text-indent:35px;
	margin-left:20px;
	cursor:pointer;
	margin-bottom:30px;
}
.item_header{
	color:#466b7a;
	font-size:16px;
	border-bottom:1px solid #eaeaea;
	padding-bottom:10px;
	margin-bottom:20px;
}
.item_table th{
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#666666;
	background-color:#f2f2f2;
	margin:0;
}
.item_table{
	margin-left:20px;
	border:1px solid #eaeaea;
	margin-bottom:20px;
}
.item_table td{
	height:120px;
	text-align:center;
	vertical-align:middle;
	background-color:#fff;
	border-top:1px solid #eaeaea;
}
.item_table_price{
	color:#cc0000;
}
.t_1{width:180px;}
.t_2{width:220px;}
.t_3{width:290px;}
.t_4{width:190px;}
.t_5{width:190px;}

.invitemark{
	height:45px;
	background-color:#fff;
	border-top:1px solid #eaeaea;
	width:1110px;
	margin-bottom:20px;
}
.invitemark_l{
	font-size:16px;
	color:#466b7a;
	line-height:65px;
	margin-right:10px;
}
.invitemark_r{
	width:135px;
	height:20px;
}
.payway{
	border-top:1px solid #eaeaea;
	padding-top:20px;
}
.payway_h{
	font-size:16px;
	color:#666666;
}
.payway ul{
	padding-left:120px;
	margin-top:20px;
	margin-bottom:40px;
}
.payway ul li{
	height:50px;
	margin-right:50px;
	padding-left:20px;
	border:1px solid #fff;
}
.paycheck{
	display:inline-block;
	width:10px;
	height:10px;
	border:1px solid #d9d9d9;
	border-radius:8px;
	margin-right:10px;
	top:5px;
	left:0;
	cursor:pointer;
}
.available_money{
	color:#666666;
	margin-left:30px;
}
.available_money_num{
	color:#cc0000;
}
.payway_img{
	display:block;
	width:80px;
	height:31px;
	margin-top:10px;
}
.payway_img img{
	width:100%;
	height:100%;
}
.payway .checked{
	background:url(../../src/images/greenpoint_08.png) no-repeat;
	background-size:10px 10px;
}
.postorder{
	height:158px;
	border:1px solid #fe805e;
	background-color:#fef7f5;
	padding:20px;
	margin-bottom:20px;
}
.postorder_num,.postorder_tra{
	font-size:14px;
	color:#666666;
	height:25px;
	line-height:25px;

}
.postorder_num{
	margin-left:145px;
}
.postorder_tra{
	margin-left:137px;
}
.postorder_total{
	font-size:16px;
	color:#666666;
	margin-bottom:10px;
	margin-left:120px;
	height:25px;
	line-height:25px;
}
.postorder .postorder_price{
	color:#cc0000;
}
.postorder_tip{
	font-size:16px;
	color:#fd5528;
	margin-bottom:10px;
	text-align:right;
}
.postorder_btn{
	width:280px;
	height:45px;
	color:#fff;
	background-color:#f65641;
	line-height:45px;
	text-align:center;
	font-size:18px;
	border-radius:8px;
	margin-left:130px;
	cursor:pointer;
}
.postorder_btn:hover { background:#ff5842; box-shadow: 0 0 5px rgba(20,177,245,.5);}
.postorder_btn:active { background:#db4c39;}
.postorder_wrap{
	width:410px;
}
.warm_tip2_h{
	background:url(../../src/images/warm_08.png) no-repeat;
	margin-left:20px;
	text-indent:30px;
	color:#000;
    font-weight:bold;
	font-size:20px;
	line-height:24px;
}
.warm_tip2{
	font-size:18px;
	color:#666666;
	margin-bottom:30px;

}
.warm_tip2_c{
	text-indent:50px;
	margin:5px 0;
}
.shadowline{
	background:url(../../src/images/shadowline_06.png) repeat-x;
	height:7px;
	margin-bottom:50px;
}