.nav_l .active { border-bottom-color: #459df5; padding:0 0 10px;}
.s-p-content{
	width: 100%;
	background: #fbfbf9;
}
.s-p-auto{
	width: 1210px;
	padding-top: 20px;
}
.s-p-side{
	width: 240px;
	height: 1010px;
	background: #fff;
	margin-right: 20px;
	padding: 30px 0 0 30px;
}

.s-p-side dl dt { font-size:18px; color:#000; background:url(../images/bg_scanproj.gif) no-repeat left top / 18px 18px; line-height:18px; padding:0 0 0 24px;}
input[name="sort"],input[name="state"] { display:none;}
.s-p-side dl dd { margin:20px 0 0 30px;}
.s-p-side dl dd label { font-size:16px; color:#333; background:url(../images/bg_sort.gif) no-repeat left -16px; padding:0 0 0 20px; line-height:16px; font-family:"宋体";}
.sort-con { margin-top:50px;}
.s-p-side dl dd .checked {  background:url(../images/bg_sort.gif) no-repeat left top; color:#ffd600; font-weight:bold;}

/*主体start*/
.dispno{
	display: none;
}
.s-p-main{
	width: 920px;
	/* padding-bottom: 100px; */
	overflow: hidden;
}
h3{
	width: 905px;
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	background: #fff;
	font-size: 14px;
	color: 666;
	margin-bottom: 10px;
}
h3 span{
	color: #ffd600;
	font-size: 16px;
	font-weight: bold;
	margin-right:20px;
}
h3 lable{
	float:right;
	margin-right:50px;
}
h3 lable span{
	color: #ffd600;
	font-size: 16px;
	font-weight: bold;
	margin-right:0px;
}
/*产品块start*/
.main_proj{
	width: 940px;
}
.main_proj li{
	position: relative;
    width: 280px;
    height: 322px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 20px;
    background: #fff;
}
.s-p-mt{
	height: 50px;
	line-height: 50px;
	text-indent: 1em;
	font-size: 14px;
	color: #333;
	font-family: STHeiti;
}
.main_proj li a .s-p-bg  { width:280px; height:220px; overflow:hidden;}
.main_proj li a .s-p-bg img { width:280px; height:220px; transition: ease .3s;}
.main_proj li a:hover .s-p-bg img{ transform:scale(1.1,1.1);}
.s-p-hide{
	width: 280px;
	height: 220px;
	background: #729ac2;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
}
.s-p-hide1{
	width: 230px;
	height: 140px;
	opacity: 1;
	padding: 80px 25px 0;
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	position: absolute;
	left: 0;
	top: 0;
}
.count_d img{
    border: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.count_down{
	position: relative;
	margin: 0 auto;
	width: 260px;
	height: 5px;
	background: #c2c2c2;
	border-radius: 4px;
}
.count_d{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	height: 5px;
	background: url(../images/count_time_05.png) no-repeat;
}
.s-p-mtxt{
	display: inline-block;
	color: #999;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
	margin-right: 20px;
}
.s-p-t{
	display: inline-block;
	padding-left: 10px;
	font-size: 16px;
	color: #000;
}
/*产品块end*/
/*页码start*/
.s-p-index{
	width: 791px;
	margin: 0 auto;
}
.s-p-index li{
	float: left;
	margin: 30px 5px;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
}

.s-p-indexall{
	height: 40px;
	line-height: 40px;
	color: #666;
	text-align: center;
	background: #fff;
	display: inline-block;
}
.s-p-btn{
	width: 80px;
}
.s-p-idx{
	width: 40px;
}
.s-p-tz{
	width: 38px;
	height: 38px;
	margin: 0 3px;
	text-indent: 40%;
	background: #fff;
	border: 1px solid #c2c2c2;
}
.s-p-indexall:hover {
    background: #459df5;
    color: #fff;
}
/*页码end*/
/*主体end*/
/*发起项目页start*/
/*进度条*/
.deproj_ctn{
	width: 1190px;
	margin: 20px auto 0;
	background: #fff;
	padding-bottom: 50px;
}
.deproj_head{
	position: relative;
	width: 1150px;
	height: 129px;
	margin: 0 auto;
	border-bottom: 1px solid #eaeaea;
}
.deproj_line{
	width: 540px;
	border-bottom: 2px solid #cdcdcd;
    margin: 0 auto;
    padding-top: 48px;
}
.deproj_prcs{
	width: 820px;
	position: absolute;
	left: 168px;
	top: 28px;
}
.d_prcs{
	width: 33.33%;
	float: left;
}
.d_prcs p span{
	display: block;
}
.d_prcs1{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 38px;
    font-size: 26px;
    border: 1px solid #eaeaea;
    background: #fff;   
    color: #999;
}
.d_prcs2{
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.d_pactive{
	background: #13b7e6;
	color: #fff;
	border: 1px solid #13b7e6;
}
/*进度条*/
.deproj_body{
	width: 1150px;
	margin: 0 auto;
}
h4{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 20px;
	line-height: 20px;
	text-indent: 0.5em;
	font-size: 18px;
	color: #13b7e6;
	font-weight: normal;
	border-left: 10px solid #13b7e6;
}
.deproj_body dl dd { margin:8px 0;}
.deproj_body dt{
	height: 40px;
	line-height: 40px;
	width: 1050px;
	margin: 0 auto;
	font-size: 18px;
	color: #686b6c;	
	border-bottom: 1px dotted #eaeaea;
	font-weight: 600;
}
.deproj_body input{
	font-family: Sim Sun;
}
.proj_inf{
	display: inline-block;
	width: 115px;
	font-size: 12px;
	color: #666;
	text-align: right;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-right: 20px;
}
.proj_inf_fo{
	float: left;
}

.proj_inf_fo label {
	font-size: 12px;
	color: #666;
	height: 30px;
	line-height: 30px; margin-right:8px;
}
.proj_name{
	width: 600px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 1em;
	color: #999;
}
.proj_brief{
	width: 600px;
	height: 80px;
	padding: 10px 10px 0 10px;
	color: #999;
	border: 1px solid #ccc;
}
.proj_url{
	width: 600px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 1em;
	color: #999;
}
.rule_rep{
	width: 600px;
	padding: 10px 10px 0 10px; 
	height: 180px;
	color: #999;
	border: 1px solid #ccc;
}
.team_brief{
	width: 600px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 1em;
	color: #999;
	margin-top: 10px;
}
.team_tel{
	width: 600px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 1em;
	color: #999;
}
.team_detail{
	width: 580px;
	height: 80px;
	color: #999;
	padding: 10px 10px 0 10px;
	border: 1px solid #ccc;
}
.proj_p{
	width: 410px;
	margin: 0 auto;
}
.input_button_yes { margin:30px 10px 50px; cursor:pointer; padding:10px 40px; color:#fff; background:#13b7e6; border:none; border-radius:3px;}
.input_button_yes:hover { border:none; color:#fff;}
.input_button_yes:active { background:#0c7a99;}
.input_button_no { margin:30px 10px 50px; cursor:pointer; padding:10px 40px; color:#999; background:#f2f2f2; border:none; border-radius:3px;}
.input_button_no:active { background:#ddd;}
/*发起项目页end*/
/*上传文件*/
.uploadfile{
	height: 140px;
	position: relative;
	float: left;
}
.uploadbut{
	display:inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: none;
	color: #fff;
	background: #1180f1;
	margin-right: 10px;
}
.file_quo{
	font-size: 12px;
	color: #999;
	display: inline-block;

}
.uploadpic { 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 80px; /* 宽高和外围元素保持一致 */ 
  height: 30px; 
  opacity: 0; 
  -moz-opacity: 0; /* 兼容老式浏览器 */ 
  filter: alpha(opacity=0); /* 兼容IE */ 
}
.scanpic{
	width: 148px;
	height: 90px;
	border: 1px dashed #ccc;
	text-align: center;
	line-height: 90px;
	font-size: 12px;
	color: #999;
	margin-top: 10px;
}
/*发起项目step2*/
.proj_name1{
	width: 150px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 1em;
	color: #999;
	margin-right: 10px;
}
.pj_unit{
	font-size: 12px;
	color: #666;
	height: 30px;
	line-height: 30px;
}
.repay_time{
	font-size: 12px;
	color: #666;
	height: 30px;
	line-height: 30px;
}
.rep_time{
	width: 80px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 1em;
	color: #999;
	margin:0 10px;
}

/*发起项目step2结束*/
/*发起项目step3开始*/
.proj_name2{
	width: 300px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 1em;
	color: #999;
}
/*发起项目step3结束*/
/*协议start*/
h2{
	font-size: 20px;
	color: #000;
	text-align: center;
	height: 120px;
	line-height: 120px;
}
.proj_p0{
	width: 178px;
	height: 40px;
	border-radius: 5px;
	background: #459df5;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	display: block;
	margin: 100px auto 0;
}
.proj_p0:hover{
	color: #fff;
}
.proj_p .pro_p0:active { background:#1a3b5c;}
.proj_contract{
	width: 1100px;
	height: 1000px;
	border: 1px solid #ccc;
	margin: 0 auto;
	overflow-y: scroll; 
}

/*协议end*/

.deproj_confirm {background: #fef7f5 url("../../src/images/warmtip_08.png") no-repeat scroll 18px 9px;
    border: 1px solid #fe805e;
    color: #fd5528;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    margin: 20px 60px;
    text-indent: 55px;
    width: 1000px;}