<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcw.dao.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.zcw.model.Collect">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, projectid, starttime
  </sql>
  <!--<select id="findProfitByUserId" resultType="com.zcw.model.Support">-->
    <!--select <include refid="Base_Column_List"/> from support where share_id =#{shareId}-->
  <!--</select>-->
  <select id="findByProjectIdAndUserId" resultType="com.zcw.model.Collect">
    select <include refid="Base_Column_List"/> from collection where userid = #{userId} and projectId = #{projectId}
  </select>
  <insert id="insertCollection">
    insert into collection(userid, projectid) values (#{userId},#{projectId});
    update project set numcol = numcol+1 where id = #{projectId}
  </insert>
  <select id="findByUserId" resultType="com.zcw.model.Project">
    select * from project where id in (select projectid from collection where userid = #{findByUserId})
  </select>
</mapper>