<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcw.dao.KindMapper">
  <resultMap id="BaseResultMap" type="com.zcw.model.Kind">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, introduce
  </sql>
  <select id="findKind" resultType="com.zcw.model.Kind">
    select <include refid="Base_Column_List"></include> from kind
  </select>
</mapper>