<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcw.dao.SupportMapper">
  <resultMap id="BaseResultMap" type="com.zcw.model.Support">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="share_id" jdbcType="INTEGER" property="shareId" />
    <result column="share_code" jdbcType="VARCHAR" property="shareCode" />
    <association property="project" javaType="com.zcw.model.Project">
      <id property="id" column="projectid"/>
      <result property="name" column="name"/>
      <result property="imagelist" column="imagelist"/>
      <result property="statue" column="statue"/>
      <result property="supmoney" column="supmoney"/>
      <result property="needmoney" column="needmoney"/>
      <result property="deadline" column="deadline"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, projectid, money, starttime, shareCode
  </sql>
  <select id="findProfitByUserId" resultType="com.zcw.model.Profit">
    select s.userid,projectid,name,supmoney,needmoney,deadline,imagelist,money,statue, SUM(money) oneMoney, COUNT(s.userid) supportPeople from support s join project p on s.projectid=p.id where share_id =#{shareId} group by s.projectid
  </select>
  <select id="findByUserId" resultType="com.zcw.model.SupportVO">
    select * from support s join project p on s.projectid=p.id where s.userid = #{id}
  </select>
  <select id="findProfitByUserIds" resultType="com.zcw.model.Profit">
    select SUM(money) secondMoney, COUNT(userid) secondPeople from support where share_id =#{userId} and projectid = #{projectId}
  </select>
</mapper>